.App {
  text-align: center;
  background-color: #C9E2D6
}

.App-logo {
  height: 40vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 10px;
  margin: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

.card {
  padding: 10px;
  width: 220px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: black solid 3px;
}

.card-img {
  cursor: pointer !important;
  width: 200px;
  max-height: 230px
}


/* When the screen size is less than 960px, 
the grid becomes a 3-column grid */
@media screen and (max-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}